<!DOCTYPE html>
<html lang="en">
<head>
  <title>Assignment 4, Question 3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<style>
button {
    width: 100%;
}
table, tr, th, td {
    margin: auto;
    border: 1px solid red;
    padding: 5px;
}
p {
    margin: auto;
    text-align: center;
}
</style>
</head>
<body>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-danger">CLICK ME</button>
            </div>
            <div class="col">
                <button class="btn btn-danger">CLICK ME</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <button class="btn btn-danger">CLICK ME</button>
            </div>
            <div class="col">
                <button class="btn btn-danger">CLICK ME</button>
            </div>
            <div class="col">
                <button class="btn btn-danger">CLICK ME</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <button class="btn btn-danger">CLICK ME</button>
            </div>
        </div>
    </div>
    <br>
    <p><b>Course Schedule for Robert Bergers</b></p>
    <br>
    <table ng-app="sched" ng-controller="myCtrl">
        <tr>
            <th>
                Course
            </th>
            <th>
                Time
            </th>
        </tr>
        <tr ng-repeat="x in contents">
            <td>
                {{x.name}}
            </td>
            <td>
                {{x.time}}
            </td>
        </tr>
    </table>

<script>
$(document).ready(setup);

function setup() {
    $("button").click(changeBtn);
}

function changeBtn() {
    if ($(this).hasClass("btn-danger")) {
        $(this).removeClass("btn-danger");
        $(this).addClass("btn-success");
    }
    else {
        $(this).removeClass("btn-success");
        $(this).addClass("btn-danger");
    }
}

var app=angular.module('sched', []);
app.controller('myCtrl', function($scope) {
    $scope.myName="Robert Bergers";
    var class1={
        name: "Databases",
        time: "W 4-6:45PM"
    };
    var class2={
        name: "Networking",
        time: "MWF 12-12:50PM"
    };
    var class3={
    name: "Web Scraping",
    time: "MWF 2-2:50PM"
    };
    var class4={
        name: "Computing Fund.",
        time: "TR 4-5:15PM"
    };
    $scope.contents=[class1, class2, class3, class4];
});
</script>

</body>
</html>

